{% extends '::base.html.twig' %}
{% block title %}Lijst met Authors{% endblock %}

{% block body -%}
    <h1>Lijst met Authors</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('author_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>
                <ul class="list-group">
                    <li>
                        <a href="{{ path('author_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('author_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('author_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
