{% extends '::base.html.twig' %}
{% block title %}{{ entity.title }}{% endblock %}

{% block body -%}
    <h1>Post</h1>

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Stamp</th>
                <td>{{ entity.stamp|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="list-group record_actions">
    <li class="list-group-item">
        <a href="{{ path('post') }}">
            Back to the list
        </a>
    </li>
    <li class="list-group-item">
        <a href="{{ path('post_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li class="list-group-item">{{ form(delete_form) }}</li>
</ul>
{% endblock %}
